{% extends "base.html" %}

{%- block content -%}
      <div class="row">
        <div class="large-12 columns">
          <h3>{{ room_info.name }}</h3>
          <h6 class="subheader">
            Created <time class="timeago" datetime="{{ room_info.created_at|iso8601 }}">{{ room_info.created_at }}</time>
          </h6>
          <button class="small button" id="init-RTCMultiConnection"
                  title="Only first person should click this button in the entire media session.">Open session</button>
          <button class="small button" id="join-RTCMultiConnection"
                  title="Others should click this button to join.">Join session</button>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns" id="focused-media-stream">
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <ul class="small-block-grid-2 large-block-grid-5" id="media-streams">
            <li class="template" style="display:none;">
              <div class="flex-video"></div>
            </li>
          </ul>
        </div>
      </div>
{% endblock -%}

{%- block more_body_script -%}
  <script src="{{ url_for('static', filename='js/vendor/RTCMultiConnection-v1.1.js') }}"></script>
  <script>
    var conferencing = new RTCMultiConnection({{ room_info.id }});
    conferencing.direction = 'many-to-many';
    conferencing.session = 'audio + video';
    conferencing.onstream = function(stream) {
      var mediaElement = stream.mediaElement;

      var container = $('#media-streams .template').clone();
      container.find('.flex-video').append(mediaElement);
      container.appendTo('#media-streams').removeClass('template').show();

      hideButtons();
    };
    conferencing.openSignalingChannel = function(config) {
      config = config || {};
      channel = config.channel || self.channel || 'default-channel';
      var socket = {};
      socket.channel = channel;
      socket.send = function(data) {
        $.post('{{ url_for('.pub', channel=room_info.id) }}', {message: JSON.stringify(data)});
      };
      socket.sse = new EventSource('{{ url_for('.sub', channel=room_info.id) }}');
      socket.sse.onmessage = function(event) {
        var data = JSON.parse(event.data);
        if (data.avamsg === 'bye')
          cleanupDisconnectedStream();
        else
          config.onmessage && config.onmessage(data);
      };
      config.onopen && setTimeout(config.onopen, 1);
      $(window).on('unload', function() {
        socket.send({'avamsg': 'bye'});
      });
      return socket;
    };

    $('#init-RTCMultiConnection').click(function() {
      conferencing.open();
      disableButtons();
    });

    $('#join-RTCMultiConnection').click(function() {
      conferencing.connect();
      disableButtons();
    });

    function disableButtons() {
      $('#init-RTCMultiConnection').prop('disabled', true);
      $('#join-RTCMultiConnection').prop('disabled', true);
    }

    function hideButtons() {
      $('#init-RTCMultiConnection').hide('fast');
      $('#join-RTCMultiConnection').hide('fast');
    }

    /**
     * I wish I know how to check the status of a video element.
     * However, I don't. That's why I use a timer to check the currentTime to
     * determine whether a video element is disconnected or not.
     */
    function cleanupDisconnectedStream() {
      var WAIT_MS = 1000;

      var startTime = {};
      $('video').each(function(index) {
        startTime[$(this).prop('src')] = $(this).prop('currentTime');
      });

      setTimeout(function() {
        $('video').each(function(index) {
          var start = startTime[$(this).prop('src')];
          var now = $(this).prop('currentTime');
          if ((now - start) * 1000 < WAIT_MS * 0.95) {
            $(this).parents('li').remove();
          }
        });
      }, WAIT_MS);
    }
  </script>
{% endblock -%}
