{% extends "base.html" %}

{%- block content -%}
      <div class="row">
        <!-- Side Bar -->
        <div class="large-4 small-12 columns">
          <div class="panel">
            <h3>New room</h3>
            <form action="" method="post">
              <div class="row">
                <div class="large-12 columns">
                  {%- if form.name.errors -%}
                  <label for="name" class="error">Name</label>
                  {{ form.name(class="error")|safe }}
                  <small class="error">{{ form.name.errors|first }}</small>
                  {% else %}
                  <label for="name">Name</label>
                  {{ form.name()|safe }}
                  {%- endif %}
                  {{ form.hidden_tag() }}
                  <button type="submit" class="small button">Create</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End Side Bar -->


        <!-- Thumbnails -->
        <div class="large-8 columns">
          <div class="row">

            {%- for room in rooms -%}
            <div class="large-4 small-6 columns">
              <div class="panel">
                <h4>{{ room.name }}</h4>
                <h6 class="subheader">{{ room.users }} user(s)</h6>
                <a class="small button expand" href="{{ url_for('room', room_id=room.id) }}">Join</a>
              </div>
            </div>
            {% else %}
            <div id="noRoom" class="large-12 columns">
              <div class="panel">
                <h4>No room is currently available</h4>
                <h6 class="subheader">Please create a new room first to participate.</h6>
              </div>
            </div>
            {%- endfor %}

          </div>
          <!-- End Thumbnails -->

          <!-- Managed By -->
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">
                  <div class="large-2 small-6 columns">
                    <img src="static/img/owner.png">
                  </div>
                  <div class="large-10 small-6 columns">
                    <strong>This Site Is Managed By<hr/></strong>
                    Avamagic
                  </div>
                </div>
              </div>
            </div>
            <!-- End Managed By -->
          </div>
        </div>
      </div>
{% endblock -%}
