{% extends "base.html" %}

{%- block content -%}
      <div class="row">
        <div class="large-12 columns">
          <h3>{{ room_info.name }}</h3>
          <h6 class="subheader">
            Created <time class="timeago" datetime="{{ room_info.created_at|iso8601 }}">{{ room_info.created_at }}</time>
          </h6>
          <button class="small button" id="init-RTCMultiConnection"
                  title="Only first person should click this button in the entire media session.">Open session</button>
          <button class="small button" id="join-RTCMultiConnection"
                  title="Others should click this button to join.">Join session</button>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns" id="focused-media-stream">
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <ul class="small-block-grid-2 large-block-grid-5" id="media-streams">
            <li class="template" style="display:none;">
              <div class="flex-video"></div>
            </li>
          </ul>
        </div>
      </div>
{% endblock -%}

{%- block more_body_script -%}
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="{{ url_for('static', filename='js/vendor/RTCMultiConnection-v1.1.js') }}"></script>
  <script>
    var conferencing = new RTCMultiConnection('avamagic_room_' + {{ room_info.id }});
    conferencing.direction = 'many-to-many';
    conferencing.session = 'audio + video';
    conferencing.onstream = function(stream) {
      var mediaElement = stream.mediaElement;

      var container = $('#media-streams .template').clone();
      container.find('.flex-video').append(mediaElement);
      container.appendTo('#media-streams').removeClass('template').show();

      hideButtons();
    };
    // TODO: use our own signaling mechanism

    $('#init-RTCMultiConnection').click(function() {
      conferencing.open();
      disableButtons();
    });

    $('#join-RTCMultiConnection').click(function() {
      conferencing.connect();
      disableButtons();
    });

    function disableButtons() {
      $('#init-RTCMultiConnection').prop('disabled', true);
      $('#join-RTCMultiConnection').prop('disabled', true);
    }

    function hideButtons() {
      $('#init-RTCMultiConnection').hide('fast');
      $('#join-RTCMultiConnection').hide('fast');
    }
  </script>
{% endblock -%}
