{% extends "base.html" %}

{%- block content -%}
      <div class="row">
        <!-- Side Bar -->
        <div class="large-4 small-12 columns">
          <div class="panel">
            <h3>Create new room</h3>
            <form>
              <div class="row">
                <div class="large-12 columns">
                  <label for="roomname">Room name</label>
                  <input name="roomname" type="text">
                  <a class="button expand" href="#">Create</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End Side Bar -->


        <!-- Thumbnails -->
        <div class="large-8 columns">
          <div class="row">

            <div id="noRoom" class="large-12 columns">
              <div class="panel">
                <h5>No room is currently available</h5>
                <h6 class="subheader">Please create a new room first to participate.</h6>
              </div>
            </div>

            <!--
            <div class="large-4 small-6 columns">
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
                <a class="small button expand" href="#">Join</a>
              </div>
            </div>
            -->

          </div>
          <!-- End Thumbnails -->

          <!-- Managed By -->
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">
                  <div class="large-2 small-6 columns">
                    <img src="static/img/owner.png">
                  </div>
                  <div class="large-10 small-6 columns">
                    <strong>This Site Is Managed By<hr/></strong>
                    Avamagic
                  </div>
                </div>
              </div>
            </div>
            <!-- End Managed By -->
          </div>
        </div>
      </div>
{% endblock -%}
